{% extends 'padre.html' %}

{% load static %}

{% block contenido %}

<section class='welcome section-content section'>
    <div class='overlay'></div>
        <div class='container'>
            <div class='text-center'>
                <h1>Ingresar canción</h1>

                <form action="{% url 'CreaCanciones' %}" method="POST">{% csrf_token %}

                    {{form.as_p}}

                    <input class='btn btn-color btn-lg js-to-slide' type="submit" value="Enviar">

                </form>

            </div>
        </div>
</section>

{% endblock contenido %}
