{% extends 'padre.html' %}

{% load static %}

{% block contenido %}

<section class='welcome section-content section'>
    <div class='overlay'></div>
    <div class='container'>
      <div class='text-center'>
        <h1 class='section-title animated onstart' data-animation='fadeInDown'>
          <span class="highlight f-bold">World Cup</span>
        </h1>
        <div id="clock" class="onstart animated"></div>
        <div class='mg-t'>
          <a class='btn btn-color btn-lg js-to-slide' data-slide='3' href="{% url 'ListaJugadores' %}">
            Jugadores
          </a>
          <a class='btn btn-color btn-lg js-to-slide' data-slide='3' href="{% url 'ListaEstadios' %}">
            Estadios
          </a>
          <a class='btn btn-color btn-lg js-to-slide' data-slide='3' href="{% url 'ListaCanciones' %}">
            Canciones
          </a>
        </div>
      </div>
    </div>
</section>

{% endblock contenido %}