<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Página de Inicio</h1>
    <ul>
        <button>
            <a href="{% url 'ListaJugadores' %}">Jugadores</a>
        </button>
        <button>
            <a href="{% url 'ListaEstadios' %}">Estadios</a>
        </button>
        <button>
            <a href="{% url 'ListaCanciones' %}">Canciones</a>
        </button>
        <button>
            <a href="{% url 'CreaJugadores' %}">Ingresar Jugadores</a>
        </button>
        <button>
            <a href="{% url 'CreaEstadios' %}">Ingresar Estadios</a>
        </button>
        <button>
            <a href="{% url 'CreaCanciones' %}">Ingresar Canciones</a>
        </button>
        <button>
            <a href="{% url 'BusquedaEstadio' %}">Buscar Estadios</a>
        </button>
    </ul>

</body>
</html>