{% extends 'padre.html' %}

{% load static %}

{% block contenido %}

<section class='about section'>
    <div class='overlay'></div>
    <div class='container'>
      <div class='row'>
        <div class='col-md-10 col-md-offset-1'>
          <div class='' data-animation='fadeInDown'>
            <h1 class='section-title'>
              Estadios
            </h1>
          </div>
          <div class='row'>

            {% for estadio in estadios %}

            <div class='col-sm-4'>
              <div class='mg-b text-center'>
                <i class='fa fa-soccer-ball-o ico-circle'></i>
                <h3 class='f-thin'>
                  {{estadio.nombre}}
                </h3>
                <p>
                {{estadio.ciudad}}
                </p>
                <a class='btn btn-color btn-lg js-to-slide' data-slide='3' href="{% url 'DetalleEstadios' estadio.id %}">
                    Ver más
                  </a>
              </div>
            </div>

            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock contenido %}