<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jugador</title>
</head>
<body>
    <h1>{{jugador.nombre}} {{jugador.apellido}} </h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat magnam animi sit suscipit harum non adipisci, magni veniam dicta aut voluptatibus esse autem minus id temporibus, debitis perspiciatis vitae hic!</p>

</body>
</html>