{% extends 'padre.html' %}

{% load static %}

{% block contenido %}

<section class='about section'>
    <div class='overlay'></div>
    <div class='container'>
      <div class='row'>
        <div class='col-md-10 col-md-offset-1'>
          <div class='hero-content'>
            <h1 class='section-title text-left'>
                {{jugador.nombre}} {{jugador.apellido}}
            </h1>
          </div>
          <div class='row mg-b'>
            <div class='col-sm-6'>
              <div class='mg-b'>
                <p>
                    {{jugador.descripcion}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock contenido %}

